# =============================================
# COPIA ESTE ARCHIVO A .env.local Y RELLÉNALO
# =============================================

# MongoDB Atlas — cadena de conexión (admin: llx0FANGcXVC1bBB)

MONGODB_URI=mongodb+srv://admin:llx0FANGcXVC1bBB@diariotartiere.0iibsmh.mongodb.net/?appName=DiarioTartiere

# NextAuth — genera un secreto con: openssl rand -base64 32
NEXTAUTH_SECRET=a9dec4d5e052fd0ca80c8767d765a9bbf5f5e98caa49a1ecccb94632b324069a

# URL pública de tu app (en desarrollo: http://localhost:3000)
NEXTAUTH_URL=http://localhost:3000
