# dependencias
node_modules/
.pnp
.pnp.js

# build
.next/
out/
build/
dist/

# env — NUNCA subas esto a git
.env
.env.local
.env.*.local

# sistema
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts
